html {
  font-size: 14px;
}

.nav-pills  .nav-links.active, nav-pills .show > .nav-links{
    white-space: normal;
    text-align: center;
    word-break: break-all
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}